body {
	font-size: clamp(1px, 2vw, 20px);
	
	background: radial-gradient(#001000, black);
	background-repeat: no-repeat;
	background-size: cover;
	
	min-height: 100vh;
	margin: 0;
}

.container {
	color: lime;
	font-family: 'Courier New', Courier, monospace;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-content: center;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	overflow-wrap: anywhere;

	opacity: 100%;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1s;

	filter: drop-shadow(1px 1px 20px lime) blur(0.4px);
}

.socials {
	margin: 4vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.socials a > img {
	width: clamp(1px, 5vw, 50px);
	height: clamp(1px, 5vw, 50px);
	cursor: pointer;
}

.socials a {
	display: block;
	cursor: pointer;
	text-decoration: none;
	margin: 5px;

	transition: opacity 0.2s ease-out;
}

.socials a:hover {
	opacity: 50%;
}

.container .logo {
	opacity: 75%;
}

@keyframes fadeInOpacity {
	0% {
		transform: translate(-50%, -50%) scale(0.9);
		opacity: 0%;
		filter: drop-shadow(0px 0px 0px lime) blur(5px);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 100%;
		filter: drop-shadow(1px 1px 20px lime) blur(0.4px);
	}
}