html {
	min-height: 100vh;

	background:
		radial-gradient(circle at 20% 100%, #440000, transparent 60%),
		radial-gradient(circle at 100% 20%, #000044, transparent 60%),
		radial-gradient(circle at 20% 0%, #004400, transparent 60%),
		black;

	font-family: 'Courier New', Courier, monospace;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
}

.bio {
	min-width: 100vw;
	margin: 100px 0;

	display: flex;
	flex-direction: column;
	text-align: center;
	overflow-wrap: anywhere;
	align-items: center;
	
	opacity: 100%;

    animation: siteFadeIn 1s ease-out forwards;

	color: lime;

	filter: drop-shadow(0 0 20px lime) blur(0.4px);
	text-shadow: 0 0 20px lime;
}

.logo {
	white-space: pre;
	font-size: clamp(0.001px, calc(100vw/48), 20px);
}

.socials {
	margin: 10px;
	display: flex;
	gap: clamp(0.1rem, 1vw, 3rem);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.socials > * {
	display: block;
	width: clamp(1.7rem, 5vw, 3rem);
	height: clamp(1.7rem, 5vw, 3rem);
	cursor: pointer;

	background-repeat: no-repeat;
	background-size: contain;

	text-decoration: none;
	transition: opacity 0.2s ease-out;
}

.socials > *:hover {
	opacity: 50%;
}

@keyframes siteFadeIn {
	0% {
		transform: scale(0.9);
		opacity: 0%;
		filter: drop-shadow(0 0 0 lime) blur(5px);
		text-shadow: 0 0 0 lime;
	}
	100% {
		transform: scale(1);
		opacity: 100%;
		filter: drop-shadow(0 0 20px lime) blur(0.4px);
		text-shadow: 0 0 20px lime;
	}
}

#matrix {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	opacity: 50%;

	z-index: -1;
}